/*
.centerImg {
    width: 100%;
    margin: 0px auto;
}

.tittleCard {
    width: 100%;
    font-size: 4vw;
    text-align: center;
}

.styleToolBar {
    --color: white;
    --background: darkgreen;
}

*/