<div class="ion-page styleToolBar colorTittle" id="main-content">
    <ion-header>
        <ion-toolbar class="styleToolBar">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="colorTittle">Pistas de {{nombre}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

        <ion-label class="colorBlack cardLogeo centrar">Selecciona una pista</ion-label>
        <br>
        <div *ngFor="let p of arrayNum, let i = index">
            <ion-row>
                <ion-card class="animated fadeIn cardLogeo margenTop20" (click)="verHoras(i)">

                    <ion-card-content>
                        <ion-card-title>{{p}}</ion-card-title>
                    </ion-card-content>
                </ion-card>


            </ion-row>
            <br>

        </div>



    </ion-content>
</div>
