/*.styleToolBar {
    --color: white;
    --background: darkgreen;
}

.tittleCard {
    width: 100%;
    font-size: 4vw;
    text-align: center;
}

.centrar {
    display: flex;
    justify-content: center;
}*/