<div class="ion-page styleToolBar colorTittle" id="main-content">
    <ion-header>
        <ion-toolbar class="styleToolBar">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="colorTittle">Mi perfil</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-row class="margenTop20">
            <ion-card class="animated fadeIn cardLogeo">
                <ion-card-content>
                    <ion-card-title>Datos personales</ion-card-title>
                    <ion-label class="colorBlack btnIzq">Nombre: </ion-label>
                    <ion-label class="colorGray">{{nombre}}</ion-label>
                    <br>

                    <ion-label class="colorBlack btnIzq">Apellidos: </ion-label>
                    <ion-label class="colorGray">{{apellidos}}</ion-label>
                    <br>

                    <ion-label class="colorBlack btnIzq">Teléfono: </ion-label>
                    <ion-label class="colorGray">{{telefono}}</ion-label>
                    <br>

                    <ion-button class="btnVerde btnPass" mat-icon-button matSuffix (click)="editarDatos()">
                        <ion-icon name="create-outline" class="centrar"></ion-icon>
                    </ion-button>

                </ion-card-content>
            </ion-card>
        </ion-row>

        <ion-row class="margenTop20" [hidden]="this.editable">
            <ion-card class="animated fadeIn cardLogeo">
                <ion-card-content>
                    <ion-card-title>Editar datos</ion-card-title>
                    <form [formGroup]="form" class="margenTop10">
                        <ion-label class="colorBlack btnIzq">Nombre: </ion-label><br>
                        <ion-input class="styleInput centrar" formControlName="nombre" [value]="this.nombre"></ion-input>
                        <br>

                        <ion-label class="colorBlack btnIzq">Apellidos: </ion-label><br>
                        <ion-input class="styleInput centrar" formControlName="apellidos" [value]="this.apellidos"></ion-input>
                        <br>

                        <ion-label class="colorBlack btnIzq">Teléfono: </ion-label><br>
                        <ion-input class="styleInput centrar" type="number" formControlName="telefono" [value]="this.telefono"></ion-input>
                        <br>

                        <ion-button class="btnVerde btnPass" mat-icon-button matSuffix (click)="guardarDatos()">
                            <ion-icon name="save-outline" class="centrar"></ion-icon>
                        </ion-button>

                    </form>
                </ion-card-content>
            </ion-card>
        </ion-row>


    </ion-content>
</div>